/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor:url(../../../../resources/svg/cursor.svg)16 16,auto;
    overflow-x: hidden;
    width: auto;
    scroll-behavior: smooth;
}